body {
  background-color: black;
  color: #999;
  font-family: 'Lucida Sans', Verdana, sans-serif;
  font-size: 120%;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
  margin-left: 10%;
}


img{
  max-width: 768px;
}

div.titleMain {
  padding-left: 10%;
  border-bottom: 1px solid #222;
  border-top: 1px solid #222;
  margin-bottom: 2rem;
/*  background-image: url('golden_light_palouse.jpg');*/
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

h1, h2 {
  font-family: 'Lucida Serif', Georgia, Garamond, serif;
  color: white;
}

h2.tags{
  font-size: 100%;
}

nav ul li {
  display: inline;
  list-style-type: none;
  padding: 35;
}

a {
  color: DodgerBlue;
  text-decoration: none;
}

a:hover {
  color: red;
}

nav a {
  background-color: #999;
  opacity: 0.6;
  color: white;
  padding: 4px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
